{% block content %}
<div class="card mb-4 shadow" style="background-color: {{ post.boxColor }}">
  <div class="card-body">
    <p>{{ post.note }}
    </p>
    <div class="d-flex justify-content-between" style="color:{{theme.fontColor}}">
      <small>@
        {{ post.author.username }}
      </small>
      {% if post.author == userId %}
      <form action="/posts/delete/{{theme.id}}/{{post.id}}?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="X" style="background-color:{{theme.foregroundColor}} ;">
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}