{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <h2 class="display-6">All Themes</h2>
    <div class="row">
      {% for theme in themes %}
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">{{ theme.title }}
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              Background color:
              {{ theme.backgroundColor }}
            </h5>
            <p class="card-text">
              Foreground color:
              {{ theme.foregroundColor }}
            </p>
            <p class="card-text">
              Text color:
              {{ theme.textColor }}
            </p>
            <a href="/themes/{{ theme.id }}" class="btn btn-info">
              View
              {{ theme.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}}