{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>{{theme.title}}
      </h2>
        <div class="background" style="background-color: {{ theme.backgroundColor }}">
          <div class="foreground" style="background-color: {{ theme.foregroundColor }}">
              <div class="post-image">
                <img class="img-fluid" src="{{theme.image}}">
                <div class="container-sm justify-content-center" style="background-color: {{ post.boxColor }}">
                    {% if theme.posts.length > 0%}
                          <div class="col-md-8 col-lg-6">
                            {% for post in theme.posts %}
                              {% render '../post.liquid', post: post, userId: userId, theme: theme %}
                            {% endfor %}
                          </div>
                        
                    {% else %}
                        <small>no angst yet...</small>
                      {% endif %}
                </div>
                  
              </div>
            </div>
          </div>
       
       
    <div class="btn-group">

        
        </div>
      </div>

    </article>
    <hr>
    </h4>post:</h4>
    <hr>
    {% if loggedIn %}
      <a class="btn" href="/themes/edit/{{theme.id}}" style="background-color: {{ post.boxColor }}">Edit</a>
        <form action="/themes/{{theme.id}}?_method=DELETE" style="background-color: {{ post.boxColor }}" method="POST">
          <input class="btn " type="submit" value="Delete">
        </form>
      <div class="col-md-6">
        <form action="/posts/{{theme.id}}" method="POST">
          <fieldset>
            <legend>make post</legend>
            <label class="form-label">post box color:</label>
            <input class="form-control" type="color" name="boxColor" class="form-control">
            <label class="form-label">angst:</label>
            <input class="form-control mb-1" type="text" placeholder="enter your angst..." name="note" required>
          </fieldset>
          <input class="btn btn-success" type="submit" value="add angst">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>If you'd like to make an angsty post, please log in...</small>
      </div>
    {% endif %}
    <hr>
  
  </div>
{% endblock %}



