{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>{{theme.title}}
      </h2>
      <div class="w-100 p-3" style="height:60% ;background-color: {{ theme.backgroundColor }}">
        <div class="w-75 p-3" style="background-color: {{ theme.foregroundColor }}">
          <div class="w-25 p-3" style="background-color: {{theme.textColor }}"></div>
        </div>
    <div class="btn-group">

        
        </div>
      </div>

    </article>
    <hr>
    </h4>post:</h4>
    <hr>
    {% if loggedIn %}
      <a class="btn btn-primary" href="/themes/edit/{{theme.id}}">Edit</a>
        <form action="/themes/{{theme.id}}?_method=DELETE" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      <div class="col-md-6">
        <form action="/posts/{{theme.id}}" method="POST">
          <fieldset>
            <legend>make post</legend>
            <label class="form-label">post box color:</label>
            <input class="form-control" type="color" name="boxColor" class="form-control">
            <label class="form-label">angst:</label>
            <input class="form-control mb-1" type="text" placeholder="enter your angst..." name="note" required>
          </fieldset>
          <input class="btn btn-success" type="submit" value="add angst">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>If you'd like to make an angsty post, please log in...</small>
      </div>
    {% endif %}
    <hr>
    {% if theme.posts.length > 0%}
      <div class="container-sm justify-content-center" >
        <div class="col-md-8 col-lg-6">
          {% for post in theme.posts %}
            {% render '../post.liquid', post: post, userId: userId, theme: theme %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <small>no angst yet...</small>
    {% endif %}
  </div>
{% endblock %}



