{% layout 'layout.liquid' %}
{% block content %}
  <div style="height:50%; width:30% ;">
    <article>
      <h2>
        {{ theme.title }}

      </h2>
      <div class="w-100 p-3" style="height:60% ;background-color: {{ theme.backgroundColor }}">
        <div class="w-75 p-3" style="background-color: {{ theme.foregroundColor }}">
          <div class="w-25 p-3" style="background-color: {{theme.textColor }}"></div>
        </div>
      </div>



      {% if theme.owner == userId %}
        <div class="btn-group">

          <a href="/themes/{{ theme.id }}/edit" class="btn btn-primary">Edit</a>
          <form action="/themes/{{ theme.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}
